boto==2.48.0
Click==7.0
Flask==1.1.0
graphviz==0.8.2
itsdangerous==1.1.0
Jinja2==2.10.1
lark-parser==0.5.3
MarkupSafe==1.1.1
nltk==3.4.4
numpy==1.16.4
py==1.4.34
pytest==3.2.3
python-dateutil==2.7.2
pytictoc==1.4.0
pytz==2018.4
scipy==1.0.1
six==1.11.0
Werkzeug==0.15.4
z3-solver==4.8.0.0.post1
